.git/
.gitignore
.dockerignore
crashdumps/
log_archive/
server.log
server.lock
*.bak
composer.phar
Pterodactyl-Bin+phar.tar.gz
PocketMine-MP.phar.bak
Submarine.phar.bak
phar_extracted/
phar_extracted_2/
src_broken/
maps/
banned-ips.txt
banned-players.txt
ops.txt
white-list.txt
players/
vendor/
worlds/
*.md
